###
# 파일명: [.env|.env.example]
# 목적: 프로젝트명 및 로그경로/로그레벨 설정
# 기능: 
#  - 설치 시 make env 명령으로 .env.example 파일에서 자동으로 생성
#  - 운영체제 인식
# 변경이력
#  - 2025-09-01: 최초 생성 (BenKorea)
###

PROJECT_NAME=rpy-quarto-template

PROJECT_ROOT=/home/ben/projects/rpy-quarto-template
# PROJECT_ROOT=C:\Users\ben\projects\rpy-quarto-template    # Linux
# PROJECT_ROOT=$HOME/projects/rpy-quarto-template        # macOS
# PROJECT_ROOT=$USERPROFILE/projects/rpy-quarto-template # Windows

LOG_PATH=/var/log/{PROJECT_NAME}
# LOG_PATH=/var/log/{PROJECT_NAME}    # Linux
# LOG_PATH=$HOME/Library/Logs/{PROJECT_NAME} # macOS
# LOG_PATH=%USERPROFILE%\AppData\Local\{PROJECT_NAME}\logs # Windows

LOG_LEVEL=DEBUG   # (DEBUG, INFO, WARNING, ERROR, CRITICAL)
